/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .main-content {
    padding: 20px;
    width: 600px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    display: block;
  }
  
  .section h2 {
    margin-top: 0;
    color: #34495e;
    text-align: center;
  }
  
  button {
    background-color: #1abc9c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #16a085;
  }
  
  .sub-section {
    margin-top: 20px;
    text-align: center;
  }
  
  #historicalData {
    margin-top: 20px;
    text-align: left;
  }
  
  #historicalData h4 {
    margin-bottom: 10px;
  }
  
  #historicalData ul {
    list-style: none;
    padding: 0;
  }
  
  #historicalData ul li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  